@model IEnumerable<Practical_WAD.Models.Exam>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.examDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dutation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classroom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Falculty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.examDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dutation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classroom.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Falculty.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.status)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
